*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #0084FD;
}

.container{
    max-width: 100%;
    margin:0px 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.content-h{
    width: 100%;
    
}
.content-m{
    width: 100%;
    background-color: #B5DDFF;
    border-radius: 20px;
    line-height: 2;
    padding: 30px;
    
}

.content-s{
    width: 100%;
    border-radius: 20px;
    line-height: 2;
}
.bg{
    background-color: #9792E4;
}
.bg-w{
    background-color: white;
}
.bg-g{
    background-color: #333333;
}

.height-h{
    height: 70px;
}

.height-m{
    height: 200px;
}
.col-100{
    width: calc(100% - 20px);
    margin: 10px;
}

.col-66{
    width: calc(100% - 20px);
    margin: 10px;
}
.col-33{
    width: calc(100% - 20px);
    margin: 10px;
}
.col-34{
    width: calc(100% - 20px);
    margin: 10px;
}
.col-50{
    width: calc(100% -20px);
    margin: 10px;
}
.col-70{
    width: calc(100% -20px);
    margin: 10px;
}
.col-30{
    width: calc(100% -20px);
    margin: 10px;
}

.f-direction{
    flex-direction: column;
}
.t-center{
    text-align: center;
}
.padding-tb{
    padding: 20px 0px;
}
.padding{
padding: 20px;
}
.d-flex{
    display: flex;
}
.j-bet{
    justify-content: space-between;
}
.j-end{
    justify-content: end;
}
button{
    background-color: #0084FD;
    border-radius: 20px;
    border: none;
    padding: 10px 100px;
    color: white;
    margin: 20px auto;
}
.content-h>ul{
    display: none;
}
span{
    margin-left: 5px;
}
.content-m>img{
    width: 100%;
}
.fa-2xs{
    font-size: 20px;
}
.i{
    font-size: 50px;
    padding: 30px;
}
.content-s>img{
    width: 100%; 
}
.content-s>h4{
    padding: 20px;
}
.fa-circle-arrow-down{
    padding: 70px;
}
.b-radius{
    border-radius: 50%;
    padding: 20px;  
}

.color{
    color: #0084FD;
}
.color-w{
    color: white;
}
.color-p{
    color: #9792E4;
    line-height: 1.5;
    padding-bottom: 30px;
}
.color-g{
    color: lightgray;
    font-size: 15px;
    padding-bottom: 20px;
}
.color-o{
    color: #FDC15F;
    font-size: 50px;
    padding-bottom: 20px;
}
h2.color-p{
    font-size: 50px;
}
h4, .color-p{
    font-size: 25px;
}
.bg-w button{
    background-color: #9792E4;
    font-size: 25px;
    padding: 10px 50px;
    border-radius: 50px;
}
.bg-w>img{
    border-radius: 50%;
    width: 50%;
}
.content> .color-w{
    font-size: 35px;
    padding-bottom: 20px;
}
.col-100> p, ul{
    color: white;
    line-height: 1.5;
}
.content> button{
    background-color: white;
    color: #9792E4;
    font-size: 25px;
}
.image{
    width: 100%;
}
.image>img{
    width: 100%;
}
li{
    margin: 7px;
}
li>a{
    color: white;
}
.content>p{
    color: white;
    padding: 20px;
}
.content>a{
    color: #9792E4;
}
p>a{
    color: #9792E4;
}

/* MEDIA QUERY */

@media screen and (min-width: 768px){
    .container{
        max-width: 700px;
        margin: 0 auto;
    }
    .f-direction{
        flex-direction: row;
    }
    .col-100{
        width: calc(100% - 20px);
        margin: 10px;
    }
    .col-66{
        width: calc(100% / 3 * 2 - 20px);
        margin: 10px;
    }
    .col-34{
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }
    .col-33{
        width: calc(50% - 20px);
        margin: 10px;
    }
    .col-50{
        width: calc(100% / 2 - 20px);
        margin: 10px;
    }
    .col-70{
        width: calc(60% - 20px);
        margin: 10px;
    }
    .col-30{
        width: calc(40% - 20px);
        margin: 10px;
    }
    .content-m>img{
        width: 50%;
    }
    .content-s>img{
        width: 100%;
    }
}
@media screen and (min-width: 1200px){
    .container{
        max-width: 1000px;
        margin: 0px auto;
    }
    .content-m{
        content: "";
        display: table;
        clear: right;
    }
   
    .image>img{
        width: 50%;
        float: right;
    }
    .content-h>ul{
        display: flex;
        list-style-type: none;
        align-items: center;
    }
    .col-33{
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }
   .content-h>i{
    display: none;
   }
   li>button{
    padding: 10px;
    background-color: white;
    color: black;
   }


}
