*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #0084FD;
}

.container{
    max-width: 100%;
    margin: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.content-h{
    width: 100%;
    
}
.content-m{
    width: 100%;
    background-color: #B5DDFF;
    border-radius: 20px;
    line-height: 2;
    padding: 30px;
    
}
.content-s{
    width: 100%;
    border-radius: 20px;
    line-height: 2;
}
.bg{
    background-color: #9792E4;
}
.bg-w{
    background-color: white;
}
.bg-g{
    background-color: #333333;
}

.height-h{
    height: 70px;
}

.height-m{
    height: 200px;
}
.col-100{
    width: calc(100% - 20px);
    margin: 10px;
}

.col-66{
    width: calc(100% - 20px);
    margin: 10px;
}
.col-33{
    width: calc(100% - 20px);
    margin: 10px;
}
.col-50{
    width: calc(100% -20px);
    margin: 10px;
}
.col-70{
    width: calc(100% -20px);
    margin: 10px;
}
.col-30{
    width: calc(100% -20px);
    margin: 10px;
}

.f-direction{
    flex-direction: column;
}
.t-center{
    text-align: center;
}
.padding-tb{
    padding: 20px 0px;
}
.padding{
padding: 20px;
}
.d-flex{
    display: flex;
}
.j-bet{
    justify-content: space-between;
}
.j-end{
    justify-content: end;
}
button{
    background-color: #0084FD;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    color: white;
    text-align: center;
    align-items: center;
}
span{
    margin-left: 5px;
}
.content-m>img{
    width: 100%;
}
.content-s>img{
    width: 100%; 
    border-radius: 50%;
    padding: 20px 100px 0px 100px;
}
.t-center>h2{
    color: #0084FD;
}


/* MEDIA QUERY */

@media screen and (min-width: 480px){
    .container{
        max-width: 767px;
    }
    .f-direction{
        flex-direction: row;
    }
    .col-100{
        width: calc(100% - 20px);
        margin: 10px;
    }
    .col-66{
        width: calc(66% - 20px);
        margin: 10px;
    }
    .col-33{
        width: calc(33% - 20px);
        margin: 10px;
    }
    .col-50{
        width: calc(100% / 2 -20px);
        margin: 10px;
    }
    .col-70{
        width: calc(70% -20px);
        margin: 10px;
    }
    .col-30{
        width: calc(30% -20px);
        margin: 10px;
    }

}
@media screen and (min-width: 798px){
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
}
